spring:
  application:
    name: gateway-server
  cloud:
    consul:
      host: localhost
      port: 8500
    gateway:
      default-filters:
      routes:
      - id: xujin_route
        uri: http://www.baidu.com:80/
        predicates:
        - Path=/xujin
management:
  endpoints:
    web:
      exposure:
        include: "*"
server:
  port: 9000